# Default registry
registry=https://registry.npmjs.org/

# GitHub Packages scope
@abdurmasood:registry=https://npm.pkg.github.com/

# Auto-auth for GitHub Packages
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}